@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
}

h1 {
  font-size: 50px;
}

.number {
  font-size: 60px;
  margin: 20px 0 40px 0;
}

.btn {
  font-size: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  border: 2px solid #222;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.2s linear;
}

.btn:hover {
  color: #eee;
  background: #222;
}

.reset {
  margin: 0 10px;
}

@media only screen and (max-width: 459px){
  .reset{
    margin: 0;
  }
}

@media only screen and (max-width: 414px){
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .reset {
    margin: 10px 0;
  }
}